/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}

ol,
ol li {
  margin-left: 0;
  padding-left: 0;
}
ol {
  margin-left: 1.3em;
}

a:link {
  color: #000 !important;
} /* unvisited link  */
a:visited {
  color: #000;
} /* visited link    */
a:hover {
  color: #000;
} /* mouse over link */
a:active {
  color: #000;
} /* selected link   */
